@import "stylesheet.css";
.giohang {
    width: 90%;
    padding: 20px;
    border: 0;
    border-color: #111;
    color: #111;
    text-align: center;
    margin: 30px 10px 10px 10px;
}
.gh-anh{
    width: 100px;
    height: 100px;
    padding: 10px;
}
.btnhuy{
    padding: 15px;
}
.btnthanhtoan{
    padding: 10px 15px;
    float: right;
    margin-right: 70px;
    margin-top: 15px;
}
