@import "datalist.css";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.table th, .table td {
    border: solid 1px #dfdfdf;
    padding: 5px;
    color: black;
}

.table {
    background: #ffffff;
}

.firstname {
    color: #000;
    width: 50px;
}

.Lastname {
    color: #000;
    width: 50px;
}

.Email {
    color: #000;
    width: 100px;
}

.Subject {
    color: #000;
    width: 100px;
}

.message {
    color: #000;
    width: 200px;
    overflow: scroll;
}

.congcu {
    color: #000;
    width: 50px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0em;
    padding: 0em;
    color: #fff;
    font-weight: 300;
    background-color: #eeeeee;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/*/ HEADER /*/
#header {
    width: 100%;
    height: 200px;
    background-color: #fff;
    color: #f28902;
}

.banner {
    width: 75%;
    height: 100%;
    background-color: red;
    float: left;
}
/*/ END HEADER /*/

/*/ MENU /*/
.section-menu {
    width: 100%;
    float: left;
}

.menu-bar {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    background-color: #3daa12;
    text-align: center;
    margin: auto;
    float: left;
}

.menu {
    position: relative;
    display: block;
    padding: 0.8em 1.2em;
    box-sizing: border-box;
    color: #fff;
    width: 16.6%;
}

.sub-menu {
    display: none;
    width: 100%;
    top: 2.75em;
    right: 0em;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.sub-menu a {
    width: 100%;
    display: block;
    padding: 0.8em 1.2em;
    text-decoration: none;
    width: 100%;
    color: #111;
    background-color: #3daa12;
    border-top: 1px solid #eeeeee;
    color: #fff;
}

.menu:hover .sub-menu {
    display: block;
    position: absolute;
    color: #fff;
}

.menu a:hover {
    color: #f28902;
}

.dang-nhap {
    float: left;
    width: 100%;
    background-color: #3daa12;
    text-align: center;
}

    .dang-nhap .btnToDangNhap {
        text-decoration: none;
        color: #fff;
        background-color: transparent;
        float: right;
        line-height: 45px;
        padding-right: 15px;
        border: 0;
        text-transform: uppercase;
    }

    .dang-nhap .btnDangNhap:hover {
        color: #f28902;
    }

    .dang-nhap .img-giohang {
        background: #f28902;
        float: right;
        width: 45px;
    }

        .dang-nhap .img-giohang:hover {
            background: #fff;
        }

/*/ END MENU /*/
/*/ SIDEBAR /*/
.sidebar {
    float: left;
    padding-right: 15px;
}

    .sidebar .menu-title {
        color: #fff;
        font-weight: bold;
        padding: 15px;
        background-color: #3daa12;
    }

    .sidebar ul {
        padding: 0px;
    }

    .sidebar li {
        background-color: #fff;
        list-style-type: none;
        color: #111;
    }

    .sidebar a {
        text-decoration: none;
        padding: 10px 15px;
        display: block;
        color: #111;
        border-bottom: 1px solid #eeeeee;
    }

        .sidebar a:hover {
            background-color: #dddddd;
            color: #f28902;
        }

/*/ END SIDEBAR /*/


/*/ CONTENT /*/
.container {
    width: 100%;
    background-color: #eeeeee;
    float: left;
    padding: 15px 0px 15px 10px;
}

.content {
    background-color: #eeeeee;
    float: left;
}

.lblTitle {
    color: #f28902;
    font-weight: bold;
    text-transform: uppercase;
}

.hr {
    margin-top: 5px;
    border: 1px solid #f28902;
}
/*/ END CONTENT /*/


/*Footer*/
.footer {
    display: block;
    background-color: #3daa12;
    color: #fff;
    height: 100px;
    float: left;
}

    .footer img {
        height: 70px;
        margin: 10px;
        float: left;
    }

    .footer .footer-lienhe {
        float: left;
        padding-left: 20px;
    }

    .footer h4 {
        padding: 15px;
        color: #fff;
    }

    .footer h3 {
        padding: 10px 10px 0px 15px;
    }
/*END FOOTER*/


/*MOBILE DESIGN*/
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }

    /*-------------------------------*/

    body {
        padding-right: 1.5em;
    }

    /*------------------------------*/

    #header {
        height: 100px;
    }

    /*------------------------------*/

    .menu-bar {
        flex-direction: column-reverse;
        width: 100%;
        top: 50px;
    }

    .menu {
        border-bottom: 2px solid #eeeeee;
        width: 100%;
    }

    .sub-menu {
        top: 2em;
    }

        .sub-menu a {
            background-color: olivedrab;
        }

    /*------------------------------*/

    .sidebar {
        display: none;
    }

    /*------------------------------*/

    .footer {
        height: 300px;
    }

        .footer img {
            display: none;
        }
}
/*END MOBILE DESIGN*/
