<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.0" />
    <pages validateRequest="false" />
  </system.web>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\ADELINE\Desktop\btlweb\WebApplication_CayCanhOnline\WebApplication_CayCanhOnline\App_Data\Comments.mdf;Integrated Security=True" />
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Comments.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
